.toolpit{
    position: relative;
    opacity: 0.8;
}

.toolpit:hover{
    background-color: var(--hellowPrimary);
    opacity: 1;
}
.toolpit:hover::after{
    
    transform:scale(1);
    
}

.toolpit::after{
    
    left: calc(100% + 15px);
    content: attr(data-title);
    padding:10px 15px;  
    transition:transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55) ;
    transform-origin: 0  50%;
    transform:scale(0);
    position: absolute;
    border-radius: 15px;
    color: white;
    background-color: var(--hellowPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

@media (max-width: 768px) {
   .toolpit::after{
    transition: none;
    }
    .toolpit:hover::after{
    transform: scale(0);
    }
}