<div class="flex">

    <aside class="flex flex-col items-center justify-center h-screen w-24 bg-white border-r-2 p-4 
                  max-md:w-96 max-md:fixed max-md:overflow-y-scroll  
                  max-sm:w-screen  max-sm:z-10
                  ">
        
        <div class="flex justify-center items-center max-h-24 ">
            <img src="../../../../assets/png/LOGO_UPEU.png" class="max-w-[100%] max-h-[100%]">
        </div>
    
        <ul class="mt-6 flex  flex-1 flex-col items-center justify-center w-full list-none gap-6 ">
            <li *ngFor="let opt of list" [attr.data-title]="opt.title"
                class="bg-hellowPrimary w-12 h-12   rounded-lg shadow-lg flex flex-row justify-center items-center cursor-pointer toolpit max-md:w-full">
               {{opt.icon}} <label class="max-md:block hidden ml-5">{{opt.title}}</label>
            </li>
        </ul>
    
        <div class="mt-6 w-full  flex justify-center">
            <button class="text-red-500">⏼</button>
        </div>
    </aside>
    
 

  

<main class="h-screen w-[70%]  bg-gray-100 overflow-y-hidden max-xl::w-[100%]">

</main>

<aside class="h-screen w-[30%]   border-l-2  max-xl:fixed max-xl:right-0 max-xl:bg-white ">
    <button></button>
    <div>
        <img src="" alt="">
        <div>
            <span></span>
            <label for=""></label>            
        </div>
    </div>
    <div>
        <label for="">Supervisor de practicas</label>
        <div>
            <app-circle-avatar imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0pwDRKDJJeZoRRS04lgxVABACNycQ-C_WKOMTDIOT00JMfmX7aqFc5YpgQe-8GUIMkXQ&usqp=CAU" [size]="avatar"></app-circle-avatar>
            <div>
                <span>Mg benjamin David Reyna</span>
                <div>
                    <span>123 calificados</span>
                    <span>Ingenieria de Software</span>
                </div>
                <hr>
            </div>
         
        </div>
        <div>
            <div>
                <label ></label>
                <span></span>
            </div>
            <div>
                <label ></label>
                <span></span>
            </div>
        </div>
    </div>
    <div>
        <label >Buzon de notificaciones</label>
        <div>
            <input type="text">
            icon
        </div>
        <ul>
            <li>
                <img src="" alt="">
                <div>
                    <label for=""></label>
                    <span></span>
                </div>
                <div>
                    <label for=""></label>
                    <span></span>
                </div>
            </li>
        </ul>
    </div>


</aside>
</div>

