<button id="sidebar" (click)="toogleSidebar()" class="absolute z-50 left-4 top-2 hidden
                                                      max-md:block">OP</button>
<aside class="h-screen w-20 flex flex-col items-center   bg-white border-r-2
           transition-all
            max-xl:overflow-y-auto   max-xl:left-0
            max-md:w-104 max-md:fixed max-md:z-40
            max-sm:w-screen
            " [ngClass]="{'show-side': sidebarVisible}">

  <div class="flex justify-center items-center max-h-24 p-4 ">
    <img src="../../../../assets/png/LOGO_UPEU.png" class="max-w-[100%] max-h-[100%]">
  </div>

  <ul class="flex p-3 flex-1 flex-col items-center  justify-center w-full list-none gap-6 min-h-[60%]
               max-xl:overflow-y-auto max-xl:overflow-x-hidden max-xl:justify-center max-xl:min-h-[12rem]">

    <li *ngFor="let access of accesses" [routerLink]="[access.path]" [routerLinkActive]="'router-active shadow-lg'"
      [attr.data-title]="access.name" class="transition-all duration-300 w-16 h-16 min-h-[4rem] rounded-3xl flex flex-row justify-center items-center cursor-pointer toolpit
                     max-md:w-full max-md:justify-start max-md:px-5">
      <img class="h-8" [src]="access.icon">

      <label class="hidden pl-4
                          max-md:flex truncate">{{access.name}}</label>
    </li>
  </ul>

  <div class="mt-6 w-full p-4  flex justify-center">
    <button class="text-red-500" (click)="logout()">
      <i class="fa-solid fa-power-off h-4"></i>
    </button>
  </div>
</aside>
