<div class="h-screen bg-gray-50">
    <div class="px-7 py-6">
        <img
            class="h-14 w-auto"
            src="../../../../../../assets/png/LOGO_UPEU.png">

    </div>

    <div class="text-center">
        <h1 class="text-4xl font-bold mb-4">Completa tus datos</h1>
        <p>Hola <strong>{{ practicante.firstName }}</strong>, asegúrate de proporcionar información precisa y verídica, ya que estos datos serán fundamentales para tu proceso de prácticas y posteriormente alcanzar tu graduación.</p>
    </div>

    <div class="bg-white py-5 px-7 rounded-2xl drop-shadow-lg grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 md:w-[70%] sm:w-[90%] mt-8 ml-auto mr-auto">

        <div>
            <label
                class="text-gray-600"
                for="codeStudent">
                Codigo estudiante
            </label>
            <input-text-basic
                id="codeStudent"
                backgroundInput="bg-greyPrimary"
                ngModel="{{practicante.code}}"
                activeBackgroundInput="focus:bg-white"
                colorPlaceholeder="placeholder-greySecondary"
                placeholderText="2020 *****"
                [disabled]="true"/>
        </div>

        <div>
            <label
                class="text-gray-600"
                for="firstName">
                Nombres
            </label>
            <input-text-basic
                id="firstName"
                ngModel="{{practicante.firstName}}"
                backgroundInput="bg-greyPrimary"
                activeBackgroundInput="focus:bg-white"
                colorPlaceholeder="placeholder-greySecondary"
                placeholderText="2020 *****"
                [disabled]="true"/>
        </div>

        <div>
            <label
                class="text-gray-600"
                for="lastName">
                Apellidos
            </label>
            <input-text-basic
                id="lastName"
                ngModel="{{practicante.lastName}}"
                backgroundInput="bg-greyPrimary"
                activeBackgroundInput="focus:bg-white"
                colorPlaceholeder="placeholder-greySecondary"
                placeholderText="2020 *****"
                [disabled]="true"/>
        </div>

        <div>
            <label
                class="text-gray-600"
                for="dni">
                Dni
            </label>
            <input-text-basic
                id="dni"
                ngModel="{{practicante.dni}}"
                backgroundInput="bg-greyPrimary"
                activeBackgroundInput="focus:bg-white"
                colorPlaceholeder="placeholder-greySecondary"
                placeholderText="2020 *****"
                [disabled]="true"/>
        </div>

        <div>
            <label
                class="text-gray-600"
                for="yearAcademic">
                Año academico
            </label>
            <input-text-basic
                id="yearAcademic"
                ngModel="{{practicante.yearAcademic}}"
                backgroundInput="bg-greyPrimary"
                activeBackgroundInput="focus:bg-white"
                colorPlaceholeder="placeholder-greySecondary"
                placeholderText="2020 *****"
                [disabled]="true"/>
        </div>

        <div>
            <label
                class="text-gray-600"
                for="cycleAcademic">
                Ciclo academico
            </label>
            <input-text-basic
                id="cycleAcademic"
                ngModel="{{practicante.cycleAcademic}}"
                backgroundInput="bg-greyPrimary"
                activeBackgroundInput="focus:bg-white"
                colorPlaceholeder="placeholder-greySecondary"
                placeholderText="2020 *****"
                [disabled]="true"/>
        </div>

        <div>
            <label
                class="text-gray-600"
                for="email">
                Correo electronico
            </label>
            <input-text-basic
                id="email"
                (inputValueChange)="onChangeValue($event, 'email')"
                backgroundInput="bg-greyPrimary"
                activeBackgroundInput="focus:bg-white"
                colorPlaceholeder="placeholder-greySecondary"
                placeholderText="jhondoe@server.x"/>
        </div>

        <div>
            <label
                class="text-gray-600"
                for="phoneNumber">
                Celular
            </label>
            <input-text-basic
                id="phoneNumber"
                (inputValueChange)="onChangeValue($event, 'numberPhone')"
                backgroundInput="bg-greyPrimary"
                activeBackgroundInput="focus:bg-white"
                colorPlaceholeder="placeholder-greySecondary"
                placeholderText="923966203"/>
        </div>

        <div>
            <label
                class="text-gray-600"
                for="area">
                Area de practicas
            </label>
            <select
                name="area"
                [(ngModel)]="practicante.area"
                id="Area"
                class="border-0 rounded-2xl border-gray-500 bg-gray-100 w-full h-[73%]">
                <option [defaultSelected]="true" value="0">Seleccion un area</option>
                <option *ngFor="let area of areaPlans" value="{{ area.name }}">{{ area.name }}</option>
            </select>
        </div>

        <div class="lg:col-span-3">
            <label
                class="text-gray-600"
                for="password">
                Contraseña
            </label>
            <input-text-basic
                id="password"
                typeInput="password"
                (inputValueChange)="onChangeValue($event, 'password')"
                backgroundInput="bg-greyPrimary"
                activeBackgroundInput="focus:bg-white"
                colorPlaceholeder="placeholder-greySecondary"
                placeholderText="********"/>
        </div>

        <div class="lg:col-span-3 md:col-span-2 text-center rounded-3xl border-dashed border-2 border-sky-700">
            <label
                for="bannerInput"
                (change) = "onUploadDocument($event)"
                class="w-full h-32 shadow-lg py-20 bg-sky-100 rounded-3xl flex text-center justify-center items-center flex-col cursor-pointer hover:bg-sky-50 transition-all duration-300">

                <img class="h-16 mb-2" src="assets/png/imagen.png">

                <span class="text-bluePrimary font-[580]">Suba su CV aquí.</span>
                <span class="font-light" *ngIf="!documentCvCharged">Solo pude subir archivos PDF</span>

                <span class="font-light" *ngIf="documentCvCharged">Documento cargado:</span>
                <span class="text-base font-semibold" *ngIf="documentCvCharged">{{ documentCvCharged.name }}</span>

                <input
                    id="bannerInput"
                    type="file"
                    class="hidden"
                    accept=".pdf">

            </label>
        </div>

    </div>

    <div class="flex flex-row justify-between ml-auto mr-auto md:w-[70%] px-3 py-5">

        <p class="text-lg font-bold cursor-pointer" [routerLink]="'/crear-cuenta'">Volver</p>

        <button-standalone
            width="w-[100px]"
            height="h-[45px]"
            colorFondo="bg-hellowPrimary"
            radius="rounded-[7px]"
            hover="hover:bg-hellowSecondary"
            transition="transition-all"
            duration="duration-300"
            text="Quitar esto"
            colorText="text-white"
            fontFamily="font-montserrat"
            fontSize="text-[15px]"
            (click)="onToggleModal()">
        </button-standalone>

        <button-standalone
            width="w-[100px]"
            height="h-[45px]"
            colorFondo="bg-hellowPrimary"
            radius="rounded-[7px]"
            hover="hover:bg-hellowSecondary"
            transition="transition-all"
            duration="duration-300"
            text="Continuar"
            colorText="text-white"
            fontFamily="font-montserrat"
            fontSize="text-[15px]"
            (click)="onRegisterPracticante()">
        </button-standalone>

    </div>

    <global-modal [isOpen]="isShowModal" (close)="isShowModal = false" *ngIf="isShowModal">

        <!-- <modal-viewer-doc-component></modal-viewer-doc-component> -->

    </global-modal>

</div>

<global-toast *ngIf="toast" [message]="message" [type]="typeToast" (closed)="toast=false"></global-toast>

<loading-page></loading-page>
