<div *ngIf="!studentSelected">

  <div class="flex flex-col gap-6">
    <h1 class="text-3xl">Bienvenido, <span class="font-bold">David Reyna </span>
    </h1>
    <h3 class="text-xl">Practicantes en lista de espera</h3>

    <div>
      <!-- Primer screen de estudiantes en lista de espera -->
      <p class="text-[#676767]">
        Los siguientes estudiantes no tienen asignado un supervisor. Antes de
        asignar un supervisor, asegúrate de revisar detenidamente sus
        documentos.
      </p>
      <div class="open">

        <label class="search">
          <i class="fa-sharp fa-solid fa-magnifying-glass" placeholder="Buscar"></i>
          <input class="buscar" type="text" placeholder="Filtros" required>
        </label>

      </div>

      <div class="flex gap-6 py-4 w-full flex-wrap h-auto max-md:justify-center">

        <div *ngFor="let student of students"
          class="rounded-xl w-48 h-55  shadow-lg cursor-pointer bg-white text-center">

          <img class="w-15 h-15 md:w-20 mt-4 md:h-auto rounded-full mx-auto" src="{{ student.user.urlProfile }}"
            alt="{{ student.code }}" width="384" height="512">

          <div class="font-semibold mt-2">
            {{ student.user.firstName }} {{ student.user.lastName }}
          </div>

          <span class="text-dark">
            {{ student.code }}
          </span>

          <br>

          <button (click)="handleShowProfile( student )"
            class="h-10 px-6 font-normal rounded-md bg-black text-white mb-4 mt-2" type="submit">
            ver perfil
          </button>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- Cuando un estudiante ha sido seleccionado ps -->
<div *ngIf="studentSelected">
  <profile-student></profile-student>
</div>
<loading-page></loading-page>
