<div class="overflow-y-auto overflow-scroll">
  <div class="flex flex-col gap-6" *ngIf="pito2 == 1">
    <h1 class="text-3xl font-montserrat">Bienvenido, <span class="font-bold font-montserrat">{{this.userData.firstName}} {{this.userData.lastName}}
      </span></h1>
    <h3 class="font-bold text-xl font-montserrat">Control de Practicas Pre Profesionales</h3>
    <div>
      <label class="mb-2 text-lg font-[500] font-montserrat">
        Gestión de Información de Empresa
      </label>
      <p class=" text-[#9C9C9C] font-montserrat text-[13.5px]">
        Aquí registraras la información basica de la empresa en la que usted esta realizando sus prácticas.
      </p>
      <div class="flex gap-6 py-4 w-full flex-wrap h-auto
                    max-md:justify-center">
        <div class="w-60 h-60 rounded-xl shadow-lg cursor-pointer bg-white px-5 py-4 flex flex-col hover:bg-neutral-200"
          (click)="mostrarPito2(2)" [ngClass]="{'btn-activo': pito2 === 1}">
          <div class="h-[65%] flex items-center justify-center">
            <img class="h-full" src="assets/svg/pito.svg">
          </div>
          <div class="h-10"></div>
          <div class="h-[40%] text-center flex items-center justify-center font-montserrat px-5">
            <span>Registrar una
              Empresa</span>
          </div>
        </div>
        <!-- <div
          class="w-60 h-60 rounded-xl shadow-lg cursor-pointer bg-white px-5 py-4 flex flex-col hover:bg-neutral-200">
          <div class="h-[65%] flex items-center justify-center">
            <img class="h-full" src="assets/svg/poto.svg">
          </div>
          <div class="h-10"></div>
          <div class="h-[40%] text-center flex items-center justify-center font-montserrat px-5">
            <span>Cambiar de
              Empresa</span>
          </div>
        </div> -->
      </div>

    </div>
    <div>
      <label class="pt-4 text-lg font-[500] font-montserrat">
        Gestión de plan de practicas pre profesionales
      </label>
      <p class=" text-[#9C9C9C] font-montserrat text-[13.5px]">
        Mostramos la siguiente lista en las empresas donde usted ha realizado sus practicas y subidos sus documentos
      </p>
      <div class="flex gap-6 py-4 w-full flex-wrap h-auto
                    max-md:justify-center">
        <div class="w-60 h-60 rounded-xl shadow-lg cursor-pointer bg-white px-5 py-4 flex flex-col hover:bg-neutral-200"
          (click)="empresaDocs(true)">
          <div class="h-[65%] flex items-center justify-center">
            <img class="h-full" src="assets/svg/pitito.svg">
          </div>
          <div class="h-10"></div>
          <div class="h-[40%] text-center flex items-center justify-center font-montserrat px-5">
            <span>{{ this.userData.ppp.company.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <registrar-empresa (pito)="volver($event)" *ngIf="pito2 == 2"></registrar-empresa>
  <body-control-practice *ngIf="mostrarEmpresa == true"></body-control-practice>
</div>

<global-toast  *ngIf="toast" [message]="message" [type]="type" (closed)="toast=false"></global-toast>
