<div class="loading-container">
  <div class="loading-group" style="animation-delay: 0s;">
    <div class="loading-letter mr-1 text-bluePrimary">P</div>
    <div class="loading-points">.</div>
  </div>
  <div class="loading-group" style="animation-delay: 0.25s;">
    <div class="loading-letter mr-1 text-hellowPrimary">P</div>
    <div class="loading-points">.</div>
  </div>
  <div class="loading-group" style="animation-delay: 0.5s;">
    <div class="loading-letter text-bluePrimary">P</div>
    <div class="loading-points text-blackPrimary">.</div>
  </div>
</div>
