<div class="fixed inset-0 flex w-full h-full px-5 py-14 overflow-y-auto  items-center justify-center bg-black bg-opacity-75" *ngIf="isOpen">
  <div class="bg-white p-5 rounded-2xl shadow-md overflow-y-auto h-auto max-h-[100%] sm:h-auto md:h-auto lg:h-auto xl:h-auto 2xl:h-auto">
    <ng-content></ng-content>
    <div class="w-full flex justify-end">
      <button
        class="px-5 py-2 bg-bluePrimary transition-all duration-300 hover:bg-blueSecondary text-white rounded-[10px]"
        (click)="showCloseConfirmation()">{{closeText}}</button>
      <button
        class="ml-3 px-5 py-2 bg-hellowPrimary transition-all duration-300 hover:bg-hellowSecondary text-white rounded-[10px]"
        *ngIf="buttonAccion">{{closeText}}</button>
    </div>
  </div>
</div>
