<div class="flex flex-col gap-6 w-full flex-wrap h-auto max-md:justify-center">

  <h1 class="text-3xl font-montserrat">Bienvenido, <span class="font-bold font-montserrat">{{this.userData.firstName}}
      {{this.userData.lastName}}
    </span></h1>
  <div class="w-full h-[100%] px-5 py-4 flex flex-col">
    <div class="grid grid-rows-1 gap-4">
      <div class="grid grid-cols-2 gap-4">
        <div class="w-full h-[80%] rounded-xl shadow-lg bg-white col-span-1 flex justify-center items-center">
          <div class="w-[95%] h-[95%]">
            <img class="object-fill w-full h-full" src="assets/imgs/x.jpg">
          </div>
        </div>
        <div class="w-full h-[80%] col-span-1 ">
          <div class="h-[80%] items-center px-5">
            <div class="pb-5">
              <label class="text-lg font-[600] font-montserrat text-[20px]">
                Paso de las Prácticas
              </label>
            </div>
            <p class=" text-[#9C9C9C] font-montserrat text-[13.5px] pb-6 text-justify">
              ¡Buen día! En esta presentación, te mostraré cómo gestionar eficientemente tus horas de Prácticas
              Pre Profesionales. Aprenderás a organizar y registrar tus documentos de forma efectiva para su evaluación,
              lo cual te permitirá acumular horas de experiencia. De esta manera, podrás sacar
              el máximo provecho de esta valiosa oportunidad y potenciar tu crecimiento profesional.
            </p>
            <div class="flex flex-row items-center cursor-pointer" (click)="mostrarPito(1)"
              [ngClass]="{'btn-activo': pito === 1}">
              <div class="w-8 h-8 rounded-full text-white items-center justify-center flex"
                [ngClass]="{'bg-bluePrimary': pito === 1, 'bg-hellowPrimary': pito!==1}">
                <p>1</p>
              </div>
              <div class="col-span-1 flex-1 pl-6">
                <p class=" text-[#000000] font-montserrat text-[15px] font-[600]">
                  Registrar empresa
                </p>
              </div>
            </div>
            <div class="flex flex-row items-center">
              <div class="h-25 py-2 w-8 items-center justify-center flex">
                <img class="h-full" *ngIf="pito == 1" src="assets/png/doted.png">
                <img class="h-full" *ngIf="pito !== 1" src="assets/png/line.png">
              </div>
              <div class="col-span-1 flex-1 pl-6" [ngClass]="{'hidden': pito !== 1}">
                <p class="text-[#9C9C9C] font-montserrat text-[13.5px] text-justify">
                  El practicante debe registrar en el sistema los datos de la empresa donde realizará sus prácticas
                  preprofesionales. Deberá ingresar información como RUC, razón social, rubro, dirección, teléfono.
                  También registrará los datos del supervisor o jefe directo que estará a su cargo, incluyendo nombres
                  completos, cargo, correo electrónico y teléfono.
                </p>
              </div>
            </div>
            <div class="flex flex-row pb-2 items-center cursor-pointer" (click)="mostrarPito(2)"
              [ngClass]="{'btn-activo': pito === 2}">
              <div class="w-8 h-8 rounded-full text-white items-center justify-center flex"
                [ngClass]="{'bg-bluePrimary': pito === 2, 'bg-hellowPrimary': pito!==2}">
                <p>2</p>
              </div>
              <div class="col-span-1 flex-1 pl-6">
                <p class=" text-[#000000] font-montserrat text-[15px] font-[600]">
                  Registrar datos
                </p>
              </div>
            </div>
            <div class="flex flex-row items-center">
              <div class="h-25 py-2 w-8 items-center justify-center flex">
                <img class="h-full" *ngIf="pito == 2" src="assets/png/doted.png">
                <img class="h-full" *ngIf="pito !== 2" src="assets/png/line.png">
              </div>
              <div class="col-span-1 flex-1 pl-6 hidden" [ngClass]="{'hidden': pito !== 2}">
                <p class="text-[#9C9C9C] font-montserrat text-[13.5px] text-justify">
                  El practicante registrará en el sistema sus propios datos personales, incluyendo nombres completos,
                  DNI, fecha de nacimiento, teléfono y correo electrónico. Deberá subir su CV actualizado. Asimismo,
                  completará información de su centro de estudios, carrera y ciclo.
                </p>
              </div>
            </div>
            <div class="flex flex-row pb-2 items-center cursor-pointer" (click)="mostrarPito(3)"
              [ngClass]="{'btn-activo': pito === 3}">
              <div class="w-8 h-8 rounded-full text-white items-center justify-center flex"
                [ngClass]="{'bg-bluePrimary': pito === 3, 'bg-hellowPrimary': pito!==3}">
                <p>3</p>
              </div>
              <div class="col-span-1 flex-1 pl-6">
                <p class=" text-[#000000] font-montserrat text-[15px] font-[600]">
                  Subir documentos solicitados
                </p>
              </div>
            </div>
            <div class="flex flex-row items-center">
              <div class="h-25 py-2 w-8 items-center justify-center flex">
                <img class="h-full" *ngIf="pito == 3" src="assets/png/doted.png">
                <img class="h-full" *ngIf="pito !== 3" src="assets/png/line.png">
              </div>
              <div class="col-span-1 flex-1 pl-6 hidden" [ngClass]="{'hidden': pito !== 3}">
                <p class="text-[#9C9C9C] font-montserrat text-[13.5px] text-justify">
                  En este paso, el practicante deberá subir al sistema los documentos solicitados, como constancias,
                  informes de avance. Deberá cumplir con subir estos documentos según las fechas establecidas.
                </p>
              </div>
            </div>
            <div class="flex flex-row pb-2 items-center cursor-pointer" (click)="mostrarPito(4)"
              [ngClass]="{'btn-activo': pito === 4}">
              <div class="w-8 h-8 rounded-full text-white items-center justify-center flex"
                [ngClass]="{'bg-bluePrimary': pito === 4, 'bg-hellowPrimary': pito!==4}">
                <p>4</p>
              </div>
              <div class="col-span-1 flex-1 pl-6">
                <p class=" text-[#000000] font-montserrat text-[15px] font-[600]">
                  Realizar evaluaciones
                </p>
              </div>
            </div>
            <div class="flex flex-row items-center">
              <div class="h-25 py-2 w-8 items-center justify-center flex">
                <img class="h-full" *ngIf="pito == 4" src="assets/png/doted.png">
                <img class="h-full" *ngIf="pito !== 4" src="assets/png/line.png">
              </div>
              <div class="col-span-1 flex-1 pl-6 hidden" [ngClass]="{'hidden': pito !== 4}">
                <p class="text-[#9C9C9C] font-montserrat text-[13.5px] text-justify">
                  Finalmente, el practicante deberá completar oportunamente las evaluaciones de desempeño y entrevistas
                  que sean requeridas por la empresa y el sistema. También deberá realizar su autoevaluación de las
                  Prácticas Pre Profesionales según lo solicite el sistema.
                </p>
              </div>
            </div>
            <div class="flex justify-end pt-2">
              <button-standalone width="w-[210px]" height="h-[65px]" colorFondo="bg-bluePrimary" radius="rounded-[15px]"
                hover="hover:bg-hellowSecondary" transition="transition-all" duration="duration-300" text="Emprezar"
                colorText="text-white" fontFamily="font-montserrat" fontSize="text-[20px]" fontWeight="font-normal"
                (click)="sexoOpen()"></button-standalone>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
