<div class="w-full min-h-screen">
  <div class="w-full pt-6">
    <img class="h-14 ml-6 mb-6" src="../../../../../../assets/png/LOGO_UPEU.png">
  </div>
  <div class="grid grid-cols-10 gap-4 items-center">
    <div class="col-span-4">
      <div class="w-full items-center justify-center flex font-montserrat font-bold text-[35px] mb-6">
        <span>Iniciar sesión</span>
      </div>
      <div class="pl-[100px] mb-3 pr-[100px] w-full font-montserrat font-normal">
        <span>Usuario</span>
      </div>
      <div class="pl-[100px] mb-6 pr-[100px] w-full font-montserrat font-normal">
        <input-text-basic (inputValueChange)="obtenerInputValue($event, 'username')" backgroundInput="bg-greyPrimary"
        activeBackgroundInput="focus:bg-white" colorPlaceholeder="placeholder-greySecondary"
        placeholderText="kevinpeinado..."></input-text-basic>
      </div>
      <div class="pl-[100px] mb-3 pr-[100px] w-full font-montserrat font-normal">
        <span>Contraseña</span>
      </div>
      <div class="pl-[100px] mb-3 pr-[100px] w-full font-montserrat font-normal">

        <input-text-basic (inputValueChange)="obtenerInputValue($event, 'password')" typeInput="password" backgroundInput="bg-greyPrimary"
        activeBackgroundInput="focus:bg-white" colorPlaceholeder="placeholder-greySecondary"
        placeholderText="*******************"></input-text-basic>
        <!-- <input-text-medium-standalone (inputValueChange)="obtenerInputValue($event, 'password')" widht="w-full" height="h-[55px]"
          borderInput="border-none" fondoColor="bg-greyPrimary" radius="rounded-[11px]" fontSize="text-[17px]"
          fontFamily="font-montserrat" fontWeigth="font-normal" transition="transition-all" duration="duration-300"
          shadow="shadow-md" placeholder="**************" colorPlaceholder="text-greySecondary"
          fontSizePlaceholder="text-[15px]" fontFamilyPlaceholder="font-montserrat" fontWeigthPlaceholder="font-normal"
          icon="" iconColor="" iconSize=""></input-text-medium-standalone> -->
      </div>
      <div class="pl-[100px] mt-8 pr-[100px] flex justify-between items-center">
        <div class="font-montserrat">
          <span>Eres nuevo?,</span>
          <span [routerLink]="['/crear-cuenta']"
            class="text-hellowPrimary font-semibold ml-2 transition-all duration-300 hover:text-hellowSecondary cursor-pointer">registrarme</span>
        </div>
        <div>
          <button-standalone width="w-[100px]" height="h-[45px]" colorFondo="bg-hellowPrimary" radius="rounded-[7px]"
            hover="hover:bg-hellowSecondary" transition="transition-all" duration="duration-300" text="Ingresar"
            colorText="text-white" fontFamily="font-montserrat" fontSize="text-[15px]" fontWeight="font-normal"
            (click)="login()"></button-standalone>
        </div>
      </div>
    </div>

    <div class="col-span-6 w-full pr-[100px] pt-[100px] pb-[100px]">
      <img class="w-full" src="../../../../../../assets/svg/sign-in-1.svg">
    </div>
  </div>
</div>
<loading-page></loading-page>
