<main class="flex justify-between">
  <sidebar-ppp></sidebar-ppp>

  <!-- <div class="flex-1 flex bg-slate-100
                w-[70%]
                max-2xl:w-[65%]
                max-xl:w-[100%] ">

    </div> -->
  <screen-page class="flex-1">
    <div>Que paso0pqwdopqwdwaopkdaokdoskdaljfsfkajdkajlfjslkcjlkdzjvlkdsklj</div>
    <div>Que paso0pqwdopqwdwaopkdaokdoskdaljfsfkajdkajlfjslkcjlkdzjvlkdsklj</div>
    <div>Que paso0pqwdopqwdwaopkdaokdoskdaljfsfkajdkajlfjslkcjlkdzjvlkdsklj</div>
    <div>Que paso0pqwdopqwdwaopkdaokdoskdaljfsfkajdkajlfjslkcjlkdzjvlkdsklj</div>
    <div>Que paso0pqwdopqwdwaopkdaokdoskdaljfsfkajdkajlfjslkcjlkdzjvlkdsklj</div>
  </screen-page>

  <userbar-ppp class="w-[30%] max-2xl:w-[35%] "></userbar-ppp>
</main>
