<button id="userbar" (click)="toogleSidebar()"
    class="absolute z-30 hidden right-4 top-2 max-xl:block">DDD</button>

<aside
    class="w-[490px] h-screen overflow-y-auto bg-white  flex flex-col items-end p-5 pt-12 border-l-2 gap-4  transition-all font-montserrat text-[15px]
        max-2xl:w-104
        max-xl:fixed max-xl:right-0 max-xl:w-128
        max-md:w-full "
    [ngClass]="{'show-side': userbarVisible}">
    <div class="flex w-full justify-end mr-6">
        <app-circle-avatar
            imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0pwDRKDJJeZoRRS04lgxVABACNycQ-C_WKOMTDIOT00JMfmX7aqFc5YpgQe-8GUIMkXQ&usqp=CAU"
            size="avatar-md"></app-circle-avatar>
        <div class="flex flex-col justify-center ml-4 ">
            <span>Practicante</span>
            <label class="font-bold text-2xl">Kevin P.</label>
        </div>
    </div>

    <!-- Practicante -->
    <div class="flex w-full flex-col items-start gap-3"
        *ngIf="validateRol.includes('practicante')">
        <label class>Supervisor de practicas</label>
        <div class="flex flex-row w-full">
            <app-circle-avatar
                imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0pwDRKDJJeZoRRS04lgxVABACNycQ-C_WKOMTDIOT00JMfmX7aqFc5YpgQe-8GUIMkXQ&usqp=CAU"
                size="avatar-md"></app-circle-avatar>
            <div class="flex flex-col ml-4 w-full gap-2">
                <span class="font-bold text-bluePrimary">Mg. Benjamin David
                    Reyna Barreto</span>
                <div
                    class="flex flex-row justify-between text-center text-greySecondary">
                    <span>123 calificados</span>
                    <span>Ingenieria de Software</span>
                </div>
                <hr>
            </div>

        </div>
        <div class="flex /flex-row mt-2 justify-evenly w-full">
            <div class="flex flex-col items-center text-bluePrimary">
                <label>Horas completadas</label>
                <span class="font-[400] text-[50px]">700 H</span>
            </div>
            <div class="flex flex-col items-center text-hellowPrimary">
                <label>Horas Restantes</label>
                <span class="font-[400] text-[50px]">100 H</span>
            </div>
        </div>
    </div>
    <!-- Supervisor -->
    <!-- No tinene nada xd -->

    <!-- Coordinador -->
    <div class="flex flex-col items-start w-full gap-3"
        *ngIf="validateRol.includes('coordinador')">
        <label class>Supervisores de practicas</label>
        <div class="flex flex-row space-x-3 w-full items-center">
            
            <button
                (click)="handleShowModal()"
                class="rounded-full h-12 w-12 bg-white border-dashed border-2  border-hellowPrimary hover:bg-slate-50   items-center justify-center text-3xl">
                +
            </button>
            
            <div
                class="flex flex-1 space-x-3 overflow-x-auto max-w-full p-3 rounded-full">
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>
                <img class="rounded-full w-16 h-16 object-cover "
                    src="https://s1.eestatic.com/2023/06/08/vivir/salud-mental/769933690_233804290_1706x960.jpg"
                    alt>

            </div>
        </div>

    </div>

    <div class="w-full flex flex-col gap-2">
        <label>Buzon de notificaciones</label>
        <div
            class="w-full py-1 px-2 rounded-xl overflow-hidden border-gray-300 border active:border-bluePrimary">
            <input type="text " placeholder="Buscar una notificación...."
                class="w-full outline-none rounded-sm p-2 pr-[30px]">
        </div>
    </div>

    <div class="flex flex-1 w-full  overflow-hidden  min-h-[250px]">
        <ul
            class="w-full h-full list-none overflow-y-auto  flex  flex-col gap-5 px-4 py-4">
            <li
                class="flex flex-row justify-between border-b-[2px] border-greyPrimary  pb-2"
                *ngFor="let notifications of list">

                <div class="flex flex-row gap-3 overflow-hidden">
                    <app-circle-avatar
                        imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0pwDRKDJJeZoRRS04lgxVABACNycQ-C_WKOMTDIOT00JMfmX7aqFc5YpgQe-8GUIMkXQ&usqp=CAU"
                        size="avatar-md"></app-circle-avatar>
                    <div class="flex flex-col justify-around font-[14px] ">
                        <label class=" truncate h-6 font-medium">Benjamin David
                            Reyna Barreto</label>
                        <span
                            class="text-greySecondary truncate w-max text-[13.5px]">Ha
                            calificado un documento enviado aksjdlkasjlkdjalksj
                            askjdlasj lkajs dlkjasldj alsj dakjsd aklsjd laksd
                            lkaj</span>
                    </div>
                </div>
                <div class="w-56 flex flex-col justify-around items-end">
                    <label class="font-bold text-[12.5px]">Oct. 06</label>
                    <span class="w-4 h-4 bg-hellowPrimary rounded-[50%]"></span>
                </div>
            </li>
        </ul>
    </div>

</aside>
<global-modal [isOpen]="isShowModal" (close)="isShowModal = false" *ngIf="isShowModal">
    <create-supervisor-page></create-supervisor-page>
</global-modal>