/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 0;
  /* height: 100vh;
  width: 100vw; */

  margin: 0;
}

:root {
  /* PRIMARY COLORS*/
  --bluePrimary: #003965;
  --hellowPrimary: #F8B91E;
  --blackPrimary: #1E1E1E;
  --greyPrimary: #F3F3F3;
  --bluePastelPrimary: #EDF7FF;
  --redPrimary: #ec4c23;

  /*SECONDARY COLORS*/
  --blueSecondary: #002E52;
  --hellowSecondary: #EDAA00;
  --blackSecondary: #080808;
  --greySecondary: #A9A9A9;
  --redSecondary: #d82f05;

  /*TERTIARY COLOR*/
  --hellowTertiary: #e0a100;

  /*MODAL COLORS*/
  --success: #44bc6b;
  --information: #0c6ce2;
  --warning: #e89604;
  --error: #ec4c23;

  --successbdicon: #27a451;
  --informationbdicon: #0256bd;
  --warningbdicon: #d18501;
  --errorbdicon: #d8340b;

  --successbg: #ebf6ee;
  --informationbg: #e5eff9;
  --warningbg: #fef6e8;
  --errorbg: #fdecea;

  --successbd: #9cd5ab;
  --informationbd: #b5ccdb;
  --warningbd: #ede7cb;
  --errorbd: #f0c7c7;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('./assets/fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}


::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  /* Ancho de la barra de desplazamiento */
  transition: all 6.0s;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  /* Color del pulgar (el botón que arrastras) */
  border-radius: 5px;
  /* Radio de las esquinas del pulgar */
  transition: all 6.0s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #696969;
  /* Color del pulgar cuando se pasa el cursor sobre él */
  transition: all 6.0s;
}
