<div class="flex flex-col items-center justify-center h-screen">
  <div class="p-4 w-full h-full">
    <div class="flex justify-between items-center">
      <img src="../../../../../assets/png/LOGO_UPEU.png" class="h-[70px]">
      <span class="cursor-pointer" [routerLink]="['/sign-in']">Iniciar Sesión</span>
    </div>
    <span class="font-montserrat font-black">Simplifica y optimiza tu proceso de précticas pre profesionales</span>
    <br><br>
    <span class="font-montserrat font-bold">Te ayudamos a que el control de tu proceso de practica pre profesionales sea mas sencillas, para poder alcanzar tu meta de graduación.</span>
    <br><br>
    <span class="font-montserrat font-extrabold">Sigue los siguientes pasos para tus practicas</span>
    <br><br>
    <span class="font-montserrat font-semibold">Prueba color azul global en el Tailwind</span>
    <br><br>
    <button class="bg-bluePrimary p-5 text-white font-montserrat font-medium">Empezar</button>
    <br>
    <br>
    <span class="text-bluePrimary font-bold">Azul color Primario</span> <br>
    <span class="font-montserrat font-black">Prueba color amarillo global en el Tailwind</span>
    <br>
    <span class="text-hellowoPrimary font-normal">Amarrillo color Primario</span>
  </div>
</div>
