<div>
  <div class="p-4 w-full h-full">
    <div class="flex justify-between items-center ml-7 mr-7">
      <img src="../../../../../assets/png/LOGO_UPEU.png" class="h-[60px]">
      <span class="cursor-pointer font-montserrat transition-all hover:text-hellowPrimary hover:font-semibold"
        [routerLink]="['/sign-in']">Iniciar Sesión</span>
    </div>
    <div class="grid grid-cols-10 gap-9 items-center mb-12">
      <div class="col-span-4">
        <div class="mb-6">
          <span class="font-montserrat font-semibold text-[30px] lg:text-[40px] xl:text-[45px]">Simplifica y optimiza tu
            proceso de
            précticas pre profesionales</span>
        </div>
        <div class="mt-6 mb-6">
          <span class="font-montserrat font-normal text-[15px] lg:text-[16px] xl:text-[18px]">Te ayudamos a que el
            control
            de tu proceso de practica
            pre profesionales sea
            mas sencillas, para poder alcanzar tu meta de graduación.</span>
        </div>
        <div class="mt-6">
          <button-standalone width="w-[150px]" height="h-[50px]" colorFondo="bg-blackPrimary" radius="rounded-[7px]"
            hover="hover:bg-blackSecondary" transition="transition-all" duration="duration-300" text="Empezar"
            colorText="text-white" fontFamily="font-montserrat" fontSize="text-[17px]" fontWeight="font-semibold"
            (click)="scrollToElement()"></button-standalone>
        </div>
      </div>
      <div class="col-span-6 justify-self-end w-full">
        <img src="../../../../../assets/svg/principal-home-2.svg" class="w-full">
      </div>
    </div>

  </div>
  <div id="step-counts" class="mb-10 pl-4">
    <span class="font-montserrat font-bold text-[25px]">Sigue los siguientes pasos para tus practicas</span>
  </div>
  <div class="w-full p-12 h-[400px] lg:h-[400px] xl:h-[500px] 2xl:h-[600px] bg-blackPrimary pt-60px pb-60px flex overflow-x-auto items-center" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()"
  (mousemove)="onMouseMove($event)" (mouseleave)="onMouseUp()">
    <div class="h-full flex-shrink-0 flex ml-4 mr-4 overflow-hidden rounded-xl"
      *ngFor="let item of imgCarousel; let i = index" #scrollContainer>
      <img [src]="item">
    </div>
  </div>

  <div
    class="w-full h-[80px] bg-bluePrimary flex justify-between items-center pr-10 pl-10 font-montserrat font-semibold text-hellowPrimary">
    <div>
      <span>Sé Integro</span>
    </div>
    <div>
      <span>Sé Misonero</span>
    </div>
    <div>
      <span>Sé Innovador</span>
    </div>
  </div>
</div>
<loading-page></loading-page>
