<div class="font-montserrat">
  <div class="w-full flex">
    <span class="font-[600] mr-10">Crear un nuevo plan de Prácticas Pre Profesionales</span>
  </div>
  <div class="flex my-5">
    <input-text-medium-standalone widht="w-80" borderColor="border-[#D2D2D2]" placeholder="Nombre del plan"
      fontSize="text-[16px]" height="h-[55px]" radius="rounded-[16px]" transition="transition-all"
      class="mr-5"></input-text-medium-standalone>
    <input-text-medium-standalone widht="w-80" borderColor="border-[#D2D2D2]" placeholder="Horas del plan académico"
      fontSize="text-[16px]" height="h-[55px]" radius="rounded-[16px]"
      transition="transition-all"></input-text-medium-standalone>
  </div>
  <div class="w-full">
    <span class="font-[450] text-[14px]">Subir la imagen del banner publicitario de las Prácticas Pre
      Profesionales</span>
    <!-- <div
      class="mt-1 mb-5 w-full h-40 shadow-lg bg-greyPrimary rounded-2xl flex text-center justify-center items-center flex-col">
        <img class="h-16 mb-2" src="assets/svg/uploads/upload.svg">
        <span class="text-bluePrimary font-[580] text-[13px]">Seleccionar imagen</span>
    </div> -->
    <label for="fileInput"
      class="mt-1 mb-5 w-full h-40 shadow-lg bg-greyPrimary rounded-2xl flex text-center justify-center items-center flex-col cursor-pointer hover:bg-neutral-200">
      <img class="h-16 mb-2" src="assets/svg/uploads/upload.svg">
      <span class="text-bluePrimary font-[580] text-[13px]">Seleccionar imagen</span>
      <input type="file" id="fileInput" class="hidden"> <!-- (change)="handleFileInput($event)" -->
    </label>
  </div>
  <div class="w-full">
    <span class="font-[450] text-[14px]">Subir los documentos de las Prácticas Pre
      Profesionales</span>
    <div
      class="mt-1 mb-5 w-full h-40 shadow-lg bg-greyPrimary rounded-2xl flex text-center justify-center items-center">

      <span class="text-bluePrimary font-[580] text-[13px]">Añadir un documento</span>
    </div>
  </div>
</div>
