<div class="overflow-y-auto overflow-scroll">
  <div class="flex flex-col gap-6">
    <h1 class="text-3xl font-montserrat">
      Bienvenido, <span class="font-bold font-montserrat">{{this.userData.firstName}} {{this.userData.lastName}}</span>
    </h1>
    <h3 class="text-lg font-montserrat">
      Control de Prácticas /
      <span class="font-bold text-lg font-montserrat">{{this.userData.ppp.company.name}}</span>
    </h3>
    <div class="w-full mx-auto flex items-center justify-center gap-5">
      <div class="text-center flex items-center justify-center font-montserrat text-xl">
        <div
          class="w-12 h-12 bg-bluePrimary rounded-full text-white flex items-center justify-center font-medium cursor-pointer hover:bg-hellowPrimary transition-all duration-300"
          [ngClass]="{'bg-hellowPrimary':item == 1}" (click)="nextPage(1)">1</div>
        <span class="text-sm font-montserrat ml-3 cursor-pointer" (click)="nextPage(1)">Informacion Basica</span>
      </div>
      <div class="text-center flex items-center justify-center font-montserrat text-xl">
        <div class="w-20 h-[1px] bg-bluePrimary"></div>
        <div
          class="w-12 h-12 bg-bluePrimary rounded-full text-white flex items-center justify-center font-medium cursor-pointer hover:bg-hellowPrimary transition-all duration-300"
          [ngClass]="{'bg-hellowPrimary':item == 2}" (click)="nextPage(2)">2</div>
        <span class="text-sm font-montserrat ml-3 cursor-pointer" (click)="nextPage(2)">Documentos</span>
      </div>
      <div class="text-center flex items-center justify-center font-montserrat text-xl">
        <div class="w-20 h-[1px] bg-black"></div>
        <div
          class="w-12 h-12 bg-bluePrimary rounded-full text-white flex items-center justify-center font-medium cursor-pointer hover:bg-hellowPrimary transition-all duration-300"
          [ngClass]="{'bg-hellowPrimary':item == 3}" (click)="nextPage(3)">3</div>
        <span class="text-sm font-montserrat ml-3 cursor-pointer" (click)="nextPage(3)">Items Evaluación</span>
      </div>
    </div>
    <div *ngIf="item == 2">
      <div class="container mx-auto bg-white grid grid-cols-4 gap-5 p-6 rounded-xl gap-y-10">
        <div class="w-45 h-60 rounded-xl shadow-lg cursor-pointer bg-white px-5 py-4 flex flex-col hover:bg-neutral-200"
          *ngFor="let document of docs" (click)="sexo(document.document, document.position)">
          <div class="h-[65%] flex items-center justify-center text-center">
            <img class="h-full" [src]="document.image">
          </div>
          <div class="h-[40%] text-center flex items-center justify-center font-montserrat px-5">
            <span>{{document.document}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="item == 1" class="">
      <!-- <registrar-empresa></registrar-empresa>  AQUI EDITAS-->
      <info-basica-practicante></info-basica-practicante>
    </div>
    <div *ngIf="item == 3">
      <items-evaluation></items-evaluation>
    </div>
  </div>
</div>

<global-modal [isOpen]="modalOpen" (close)="modalOpen = false" *ngIf="modalOpen">
  <ng-container>
    <modal-control-practice (modalIsOpen)="recibirEvento($event)" [message]="this.message" [title]="this.title"
      [position]="this.position" [urlDoc]="urlDocView" [idDocument]="idDocument"></modal-control-practice>
  </ng-container>
</global-modal>

<loading-page></loading-page>
